{% from "./components/intro-header.html" import "introHeader" %}
{% from "./components/navbar.html" import "Navbar" %}
{% from "./components/blog-card.html" import "BlogCard" %}
{% extends "base.template.html" %}
{% block title %}{{config.siteTitle}}
{%endblock %}
{% block mainContent %}
{{ introHeader(data) }}
{{ Navbar(active = "about") }}
<div class = "main-container mt-4">
  <div class = "content">
    {{ data.content | safe}}
  </div>
  <div>
    <p class = "recent-writings"> Recent writings. </p>
  </div>
  {{ BlogCard(data.config) }}
</div>
{% endblock %}
