{% from "./components/intro-header.html" import "introHeader" %}
{% from "./components/navbar.html" import "Navbar" %}
{% from "./components/tags-section.html" import "tagsSection" %}

{% extends "base.template.html" %}

{% block title %}{{config.siteTitle}}
{%endblock %}
{% block mainContent %}
{{ introHeader(data) }}
{{ Navbar(active = "tags") }}
<div class = "pt-2">
{{ tagsSection(data.config)}}
</div>
<div class = "tags-section-title mt-4">Readings</div>
<div class = "mt-2 content">
    {{data.content | safe}}
</div>
{% endblock %}